if SHIELD_NOMADBALL44_RIGHT

config ZMK_KEYBOARD_NAME
    default "nomadball44"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_NOMADBALL44_RIGHT

if SHIELD_NOMADBALL44_LEFT || SHIELD_NOMADBALL44_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_NOMADBALL44_LEFT || SHIELD_NOMADBALL44_RIGHT
